<!DOCTYPE HTML>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Padrao">

<section layout:fragment="conteudo">
	<!-- navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h3 class="brand"><a href="/port">Portfólio</a></h3>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						
						<ul id="menu-main" class="nav">
							<li><a title="about" href="/port/about" >About</a>
							<li><a title="services" href="/port/services">Education</a></li>
							<li><a title="works" href="/port/work">Skill</a></li>
							<li><a title="blog" href="/port/blog">LifeStyle</a></li>
							<li><a title="contact" href="/port/contato">Contact</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Header area -->
</section>
</html>