<!DOCTYPE HTML>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Padrao">

<section layout:fragment="conteudo">
	<!-- navbar -->

	<section id="services" class="section blue" style="paddin-bottom: 1000px;">
		<div class="container">
			<h4>Skills with</h4>
			<!-- Four columns -->
			<div class="row">
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<i class="fas fa-headphones-alt fa-5x"></i>
						<h2>Sound Enginner</h2>
						<p>
							Voltado no desenvolvemento de musicas e efeitos sonoros
						</p>
					</div>
				</div>
				<div class="span3 animated flyIn">
					<div class="service-box">
						<i class="fas fa-laptop fa-5x"></i>
						<h2>Java development</h2>
						<p>
							Trained by GFT and Works
						</p>
					</div>
				</div>
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<h2>Program with</h2>
						<p>
							<i class="fab fa-python fa-3x"></i>
							<i class="fab fa-js fa-3x"></i>
							<i class="fab fa-html5 fa-3x"></i>
							<i class="fab fa-css3-alt fa-3x"></i>
							<i class="fab fa-java fa-3x"></i>
						</p>
					</div>
				</div>
				<div class="span3 animated-fast flyIn">
					<div class="service-box">
						<i class="fas fa-table-tennis fa-5x"></i>
						<h2>Game Design</h2>
						<p>
							Desenvolvedor de jogos, de todos os tipos.
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<ul class="social-networks">
						<li><a href="https://github.com/LucasMCruz"><i class="fab fa-github-square fa-3x"></i></a></li>
						<li><a href="https://medium.com/@lucasmatheus644"><i class="fab fa-medium fa-3x"></i></a></li>
						<li><a href="https://www.linkedin.com/in/lucas-matheus-139972150/"><i class="fab fa-linkedin fa-3x"></i></a></li>
						<li><a href="https://www.instagram.com/lucasmatheus__c/"><i class="fab fa-instagram fa-3x"></i></a></li>
					</ul>
					<p class="copyright">
						&copy;LSCR. All rights reserved.
						
					</p>
				</div>
			</div>
		</div>
		<!-- ./container -->
	</footer>
	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.localScroll.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/inview.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>
</section>
</html>